@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: oklch(1 0 0);
    --foreground: var(--mantine-color-text);
    --card: oklch(1 0 0);
    --card-foreground: var(--mantine-color-text);
    --popover: oklch(1 0 0);
    --popover-foreground: var(--mantine-color-dark-9);
    --primary: var(--mantine-primary-color-9);
    --primary-foreground: var(--mantine-color-text);
    --secondary: var(--mantine-color-green-9);
    --secondary-foreground: var(--mantine-color-green-text);
    --muted: oklch(0.9842 0.0034 247.86);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.9842 0.0034 247.86);
    --accent-foreground: var(--mantine-color-dark-9);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: var(--mantine-color-default-border);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: var(--mantine-radius-default);
    /*--sidebar: oklch(0.9846 0.0017 247.84);*/
    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0.3717 0.0392 257.29);
    --sidebar-primary: var(--mantine-primary-color-light);
    --sidebar-primary-foreground: var(--mantine-color-text);
    --sidebar-accent: var(--mantine-primary-color-5);
    --sidebar-accent-foreground: var(--mantine-color-black);
    --sidebar-border: var(--mantine-color-gray-3);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --mantine-color-default-border: oklch(0.2615 0.0055 286.01);

    --background: var(--mantine-color-dark-9);
    /*--background: oklch(0.1288 0.0406 264.7);*/
    --foreground: var(--mantine-color-text);
    /*--foreground: oklch(0.9288 0.0126 255.51);*/
    --card: var(--mantine-color-dark-9);
    /*--card: oklch(0.1288 0.0406 264.7);*/
    --card-foreground: var(--mantine-color-text);
    --popover: var(--mantine-color-dark-9);
    --popover-foreground: oklch(0.985 0 0);
    --primary: var(--mantine-primary-color-9);
    --primary-foreground: var(--mantine-color-text);
    --secondary: var(--mantine-color-green-9);
    --secondary-foreground: var(--mantine-color-green-text);
    --muted: oklch(0.2103 0.0059 285.89);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.2103 0.0059 285.89);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.2615 0.0055 286.01);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: var(--mantine-color-dark-9);
    /*--sidebar: oklch(0.2077 0.0398 265.75);*/
    --sidebar-foreground: var(--mantine-color-text);
    /*--sidebar-foreground: oklch(0.9288 0.0126 255.51);*/
    --sidebar-primary: var(--mantine-primary-color-light);
    --sidebar-primary-foreground: var(--mantine-color-text);
    --sidebar-accent: var(--mantine-primary-color-5);
    --sidebar-accent-foreground: var(--mantine-color-dark-0);
    --sidebar-border: oklch(0.2615 0.0055 286.01);
    --sidebar-ring: oklch(0.439 0 0);
}

body {
    font-family: var(--mantine-font-family);
    font-size: var(--mantine-font-size-md);
    line-height: var(--mantine-line-height);
    background-color: var(--mantine-color-body);
    color: var(--mantine-color-text);

    -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
    -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
